.loGo{
    background-color: #389cca;
    border: solid yellow;
}

/************* TARJETAS*******************/

.miMenu{
    background-color: #141414;
    border: solid yellow;
}


.miTarjeta{
    background-color: #389cca; 
    padding-bottom: 20px;   
    border: solid yellow;
    box-shadow: 0px 1px 10px #e2f104f8;
    cursor: default;
    transition: all 400ms ease;
    

}

.miTarjeta:hover{
    box-shadow: 2px 2px 2px 10px #e2f104f8;
    transform: translateY(-3%);
}

.miTarjeta h2{
    margin-top: 10px;
    box-shadow: 2px 2px 2px 2px #141414;
}
    


.imaGen{
    width: 400px;
    height: 400px;
    border: solid yellow;
  
}


.boton{    
    border-radius: 5px;
    display: inline-block;
    padding: 5px 10px;
    margin-top: 20px;
    text-decoration: none;
    font-size: 20px;
    color: #141414;
    background-color:#e2f104f8;
    box-shadow: 0px 1px 10px #e2f104f8;

}

/*************FORMULARIO****************/

.secCion{
    border: solid yellow;
    background-color: #141414;
}

.miFormulario{
    background-color: #389cca;
    border: solid yellow;
    margin-top: 10px;
    margin-right: 10px;

}

.imgFormu{
    
    border: solid yellow;
    margin-left: 75px;
    margin-top: 50px;

}
    
.textFormu{
    font-size: 20px;
    color: #141414;
}



   
